[submodule "specs"]
	path = source/specs
  url = https://github.com/TodoBackend/todo-backend-js-spec.git

[submodule "client"]
	path = source/client
  url = https://github.com/TodoBackend/todo-backend-client.git
