@import url("navbar.css");

body {
  background: #ffffff;
  color: #222;
  margin: 0;
}

.page {
  padding: 0em 2em;
    margin-bottom: 20px;
}

.column-one {
    margin: 0;
    display: inline-block;
    width: 47%;
    vertical-align: text-top;
    padding-right: 2%;
}

.column-two {
    margin: 0;
    display: inline-block;
    width: 46%;
    vertical-align: text-top;
    padding-left: 2%;
    padding-right: 2%;
}

.main-title {
    font-size: 4em;
    color: #2F4259;
    font-weight: bolder;
    letter-spacing: -0.04em;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sub-title {
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 100;
}

.secondary-title {
    border-bottom: 1px solid;
    border-bottom-color: #58C9E8;
    color: gray;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding-bottom: 2px;
    padding-top: 30px;
    font-weight: 100;
}

.implementation-title {
    font-size: 26px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 0;
    padding-top: 40px;
    margin:0;
}

.implementation-buttons {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: white;
    text-decoration: none;
    padding: 7px;
    background: #089ea4;
    border-radius: 3px;
    display: inline-block;

}

.example-implementation-button {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: black;
    text-decoration: none;
    padding: 7px;
    background: #b2d5de;
    border-radius: 3px;
    display: inline-block;

}

.contribute-headers {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 0;
    margin: 0;
}

.teaser{
    border: 3px dashed #BD2227;
    padding: 0.4em 1em;
    margin-top: 2em;
}
.teaser > p{
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 16px;
    padding-bottom: 10px;
}

.teaser > h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    padding: 0;
    padding-top: 10px;
    letter-spacing: .5px;
}

p {
    padding-top: 0;
    padding-bottom: 30px;
    margin:0;
}

p > a {
    color: #344399;
    text-decoration: none;
}
p > a:hover{
    color: #344399;
    text-decoration: underline;
}

.resources > a {
    color: #344399;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.resources > a:hover{
    color: #344399;
    text-decoration: underline;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article > h2 {
  margin: 0;
}

article > p {
  margin: 0;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

@media screen and (max-width : 760px){
    #menu, .hidden {
        position: static;
        display: none;
    }

    .nav-bar {
        max-height: none;
    }

    .nav-bar-links, .drop-downs {
        margin-bottom: 1px;
    }

    .nav-bar-links, .nav-bar-links a {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .show-menu {
        display:block;
    }

    #nav-bar-right {
        float: none;
    }

    .column-two {
        display: block;
        width: 100%;
    }

    .column-one {
        display: block;
        width: 100%;
    }

    .implementation-buttons {
       margin-bottom: 4px;
    }
}