@import url("navbar.css");

body {
  background: #ffffff;
  color: #222;
  margin: 0;
}

.page {
  padding: 0em 2em;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #2F4259;
}

.column-one {
    margin: 0;
    display: inline-block;
    width: 47%;
    vertical-align: text-top;
    padding-right: 2%;
}

.column-two {
    margin: 0;
    display: inline-block;
    width: 46%;
    vertical-align: text-top;
    padding-left: 2%;
    padding-right: 2%;
}

@media screen and (max-width : 760px){
    #menu, .hidden {
        position: static;
        display: none;
    }

    .nav-bar-links, .drop-downs {
        margin-bottom: 1px;
    }

    .nav-bar-links, .nav-bar-links a {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .show-menu {
        display:block;
    }

    #nav-bar-right {
        float: none;
    }

    .column-two {
        display: block;
        width: 100%;
    }

    .column-one {
        display: block;
        width: 100%;
    }
}

.intro {
    margin-bottom: 3em;
}

.main-title {
    font-size: 4em;
    color: #2F4259;
    font-weight: bolder;
    letter-spacing: -0.05em;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sub-title {
    font-size: 21px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 100;
}

.secondary-title {
    border-bottom: 1px solid;
    border-bottom-color: #BD2227;
    color: gray;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding-bottom: 2px;
    padding-top: 5px;
    font-weight: 100;

}

.implementation-title {
    font-size: 26px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 0;
    padding-top: 40px;
    margin:0;
}

.implementation-buttons {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: black;
    text-decoration: none;
    padding: 7px;
    background: #B2D5DE;
    border-radius: 3px;
}

.example-implementation-button {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: white;
    text-decoration: none;
    padding: 7px;
    background: #C5C5C5;
    border-radius: 3px;
}

p {
    padding-top: 0;
    padding-bottom: 30px;
    margin:0;
}

p > a {
    color: #344399;
    text-decoration: none;
}
p > a:hover{
    color: #344399;
    text-decoration: underline;

}

article > h2 {
  margin: 0;
}

article > p {
  margin: 0;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}

