<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base target="_blank">

    <link rel="stylesheet" href="stylesheets/normalize.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Todo-Backend" %></title>
  </head>
  
  <body class="<%= page_classes %>">
    <div class="nav-bar">
      <label for="show-menu" class="show-menu">Menu</label>
      <input type="checkbox" id="show-menu" role="button">
      <ul id="menu">
        <li class="nav-bar-links"><a href="index.html" target="_self">Todo-Backend</a></li>
        <div id="nav-bar-right">
          <li class="nav-bar-links"><a href="index.html#implementations" target="_self">Implementations</a></li>
          <li class="nav-bar-links">
            <a href="contribute.html" target="_self">Contribute</a>
            <ul class="hidden">
              <li class="drop-downs">
                <a class="drop-down-links" href="specs/index.html">Tests</a>
                <a class="drop-down-links" href="client/index.html">Client</a>
              </li>
            </ul>
          </li>
        </div>
      </ul>
    </div>
    <%= yield %>
    <script src="/javascripts/vendor.js"></script>
    <script src="/javascripts/all.js"></script>
  </body>
</html>
